{% extends 'PerfilacBundle::index.html.twig' %}
{% block title %}Modificar Comercial{% endblock %}
{% block body %}

    <!-- Nav tabs -->
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#DatosGenerales" data-toggle="tab">Datos Generales</a></li>        
        <li><a href="#Credenciales" data-toggle="tab">Credenciales</a></li>       
    </ul>

    <form id="formModificarComercial" method="post" action="{{ path('comercialActualizar', {'id':comercial.id}) }}" class="ganar_form_basico">       
        <div class="tab-content">
            <div class="tab-pane active" id="DatosGenerales">
                <fieldset id="fiel_datosGenerales">                               
                    <div class="ganar_form_par">
                        <label for="id_clientes">Vendedor</label>
                        <select id="id_vendedores" name="name_vendedores" required="required" tabindex="1">
                            {% for vendedor in vendedores %}
                                {% if  vendedor.id == comercial.vendedor.id %}
                                    <option value="{{ vendedor.id }}" selected="selected"> {{ vendedor.codigo }} </option>
                                {%else %}
                                    <option value="{{ vendedor.id }}" selected="selected"> {{ vendedor.codigo }} </option>
                                {%endif %}
                            {% endfor %}
                        </select>
                    </div>                
                    <div class="ganar_form_par">
                        <label for="inp_nombre">P. Nombre </label>
                        <input type="text" name="name_nombre" id="inp_nombre" maxlength="200" alt="input para el nombre" required="required" tabindex="2" title="Debe insertar el nombre" placeholder="nombre" accesskey="n" value="{{ comercial.primerNombre }}"/>
                    </div>
                    <div class="ganar_form_par">
                        <label for="inp_snombre">S. Nombre </label>
                        <input type="text" name="name_snombre" id="inp_snombre" maxlength="200" alt="input para el segundo nombre"  tabindex="3" title="Debe insertar el segundo nombre" placeholder="segundo nombre" accesskey="s" value="{{ comercial.segundoNombre }}"/>
                    </div>                              
                    <div class="ganar_form_par">
                        <label for="inp_apellido">P. Apellido </label>
                        <input type="text" name="name_apellido" id="inp_apellido" maxlength="200" alt="input para el apellido" required="required" tabindex="4" title="Debe insertar el apellido" placeholder="apellido" accesskey="a" value="{{ comercial.primerApellido }}"/>
                    </div>
                    <div class="ganar_form_par">
                        <label for="inp_sapellido">S. Apellido</label>
                        <input type="text" name="name_sapellido" id="inp_sapellido" maxlength="200" alt="input para el segundo apellido" required="required" tabindex="5" title="Debe insertar el segundo apellido" placeholder="segundo apellido" accesskey="d" value="{{ comercial.segundoApellido }}"/> 
                    </div>
                    <div class="ganar_form_par">
                        <label for="inp_ci">CI</label>
                        <input type="text" name="name_ci" id="inp_ci" maxlength="11" alt="input el ci" required="required" tabindex="6" title="Debe insertar el ci" placeholder="ci" accesskey="c" value="{{ comercial.ci }}"/> 
                    </div>
                    <div class="ganar_form_par">
                        <label for="inp_telefono">Tel&eacute;fono</label>
                        <input type="text" name="name_telefono" id="inp_telefono" maxlength="200" alt="input el telefono" required="required" tabindex="7" title="Debe insertar el telefono" placeholder="telefono" accesskey="t" value="{{ comercial.telefono }}"/> 
                    </div>
                    <div class="ganar_form_par">
                        <label for="inp_correo">Correo</label>
                        <input type="email" name="name_correo" id="inp_correo" maxlength="200" alt="input el correo"  tabindex="8" title="Debe insertar el correo" placeholder="correo" accesskey="c" value="{{ comercial.correo }}"/> 
                    </div>
                    <div class="ganar_form_par">
                        <label for="inp_cargo">Cargo</label>
                        <input type="text" name="name_cargo" id="inp_cargo" maxlength="200" alt="input el cargo" required="required" tabindex="9" title="Debe insertar el cargo" placeholder="cargo" accesskey="o" value="{{ comercial.cargo }}"/> 
                    </div>                    
                </fieldset> 
            </div>
            <div class="tab-pane" id="Credenciales">
                <fieldset id="fiel_Credenciales"> 
                    <div class="ganar_form_par">
                        <label for="inp_usuario"> Usuario  </label>
                        <input type="text" name="name_usuario" id="inp_usuario" maxlength="200" alt="input para el usuario" required tabindex="10" title="Debe insertar usuario" placeholder="usuario" accesskey="u" value="{{ comercial.usuario.username }}"/>
                    </div>
                    <div class="ganar_form_par">
                        <label for="id_roles">Tipo</label>
                        <select id="id_roles" name="name_roles" required="required" tabindex="11">                            
                            {% if  comercial.usuario.rol == 'Administrador' %}
                                <option value="Administrador" selected="selected"> Administrador </option> 
                                <option value="Comercial"> Comercial </option>
                            {%else %}
                                <option value="Administrador" > Administrador </option> 
                                <option value="Comercial" selected="selected"> Comercial </option>
                            {%endif %}

                        </select>
                    </div>
                    <div class="ganar_form_par">
                        <input type="checkbox" id="id_habilitarModificarPass" name="name_habilitarModificarPass" value="habilitado"/>                       
                    </div>
                    <div class="ganar_form_par">                        
                        <label for="inp_pass"> Contras. </label>
                        <input type="password" name="name_pass" id="inp_pass" maxlength="200" alt="input para la clave" required tabindex="12" title="Debe insertar la clave" placeholder="clave" accesskey="c" disabled="disabled"/>
                    </div>
                    <div class="ganar_form_par">
                        <label for="inp_rpass"> Re. Contras. </label>
                        <input type="password" name="name_rpass" id="inp_rpass" maxlength="200" alt="input para repetir la clave" required tabindex="13" title="Debe repetir la clave" placeholder="repetir clave" accesskey="r" disabled="disabled"/>
                    </div>
                </fieldset>
            </div>
            <div class="ganar_form_boton">
                <input type="submit" name="enviar" value="Enviar" accesskey="e" tabindex="14"/>
                <input type="reset" name="limpiar" value="Restaurar" accesskey="l" tabindex="15"/>
            </div>
        </div>
    </form>

{% endblock %}
